.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.AboutMe-background {
    background-color: pink;
  }
  
  .table-auto {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-auto td {
    padding: 12px 20px; /* Memperlebar kolom dengan padding */
    border: 1px solid #e5e7eb; /* Menambahkan border */
  }
  
  .table-auto th {
    padding: 12px 20px;
    border-bottom: 2px solid #d1d5db;
  }
  
  .table-bordered {
    border: 1px solid #e5e7eb;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  h1, h2 {
    color: #111827; /* Warna teks lebih gelap */
  }
  
  .table-auto td:first-child {
    font-weight: bold;
    width: 30%; /* Mengatur lebar kolom pertama */
  }
  
  .table-auto td:last-child {
    width: 70%; /* Mengatur lebar kolom kedua */
  }
  
  .table-auto tr:nth-child(even) {
    background-color: #f3f4f6; /* Memberi warna background untuk baris genap */
  }
  
  @media (max-width: 1024px) {
    .table-auto {
      width: 100%;
    }
  }
  
  