.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.bg-pink {
    background-color: pink;
  }
  /* Home.css */
/* Background hanya untuk area di luar box Overview */
.overview-container {
  background-image: url('/public/Background/kotakbesarpink.jpeg'); /* Gambar background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px; /* Tambahkan padding untuk jarak antara box dan background */
}

/* Pastikan file ini diimpor di komponen yang tepat */
.aboutme-container {
  background-image: url('/public/Background/gelombangpink.jpeg'); /* Path sesuai dengan lokasi gambar Anda */
  background-size: cover; /* Atur gambar agar menutupi seluruh latar belakang */
  background-position: center; /* Posisikan gambar di tengah */
  background-repeat: no-repeat; /* Hindari pengulangan gambar */
  padding: 20px; /* Opsional: menambahkan padding jika diperlukan */
}

/* Pastikan file ini diimpor di komponen yang tepat */
.skillpengalaman-container {
  background-image: url('/public/Background/kotakbesarpink.jpeg'); /* Path sesuai dengan lokasi gambar Anda */
  background-size: cover; /* Atur gambar agar menutupi seluruh latar belakang */
  background-position: center; /* Posisikan gambar di tengah */
  background-repeat: no-repeat; /* Hindari pengulangan gambar */
  padding: 20px; /* Opsional: menambahkan padding jika diperlukan */
}


/* Styling box Overview */
.overview-background {
  background-color: pink; /* Warna background putih transparan */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan pada box */
}
